@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@600&family=Comic+Neue&family=Imprima&family=Poppins&family=Roboto&family=poppins:wght@800&display=swap');

.tech__talk {
  background: #100028;
  padding-top: 10px;
  padding-bottom: 150px;
}

.tt__card {
  display: inline-flex;
  padding: 1.5rem 1.6rem 1rem 1rem;
  flex-direction: column;
  align-items: center;
  border: 1px solid;
  border-color: rgba(121, 239, 255, 0.30);
  border-radius: 1.875rem;
  background: #011524;
  width:300px;
  height:460px;
}

.tt__cardBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.875rem;
}

.tt__poster {
  width: 14.25rem;
  height: 10.25rem;
  border: 1px solid;
  border-color: rgba(121, 239, 255, 0.50);
  border-radius: 1.875rem;
  /* background: url(<path-to-image>), lightgray -3px -32.518px / 101.531% 142.603% no-repeat; */
}

.title {
  display: flex;
  width: 14.25rem;
  height: 3.0625rem;
  flex-direction: column;
  color: #77a5ff;
  text-align: center;
  font-size: 0.975rem;
  font-family: poppins;
  font-style: normal;
  /* font-weight: 700; */
  line-height: normal;
  text-transform: capitalize;
}

.description {
  display: flex;
  width: 14.1875rem;
  flex-direction: column;
  color: #79efff;
  text-align: center;
  font-size: 0.85rem;
  font-family: poppins;
  font-style: normal;
  /* font-weight: 400; */
  line-height: normal;
}

.tt__btn {
  display: flex;
  width: 6.875rem;
  height: 1.9375rem;
  padding: 0.625rem 1.3125rem;
  justify-content: center;
  align-items: center;
  gap: 0.525rem;
  border-radius: 3.125rem;
  background: linear-gradient(142deg, #3578fb 0%, #71eeff 100%);
  color: #17003c;
  font-size: 0.675rem;
  font-family: poppins;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@media only screen and (min-width: 425px){
  .tt__card {
    margin:0px 3rem !important;
  }
}

@media only screen and (min-width: 375px){
  .tt__card {
    margin:0px 1.5rem;
  }
}